<!DOCTYPE html>
<html>
  <head>
    <title>Tretis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="./style.css" />

    <script src="/socket.io/socket.io.js"></script>

    <!-- p5 Librairies -->
    <script src="./p5.min.js"></script>
    <script src="./p5.dom.js"></script>

    <!-- Game files -->
    <script src="./game/globalVar.js"></script>
    <script src="./game/arrayManager.js"></script>
    <script src="./game/graphic.js"></script>

    <script src="./game/piecesPattern.js"></script>
    <script src="./game/pieces.js"></script>
    <script src="./game/preview.js"></script>
    <script src="./game/handleServer.js"></script>
    <script src="./game/sketch.js"></script>

    <script>

      function imReady() {
        if(!gameStarted && !spectate) socket.emit('imReady');
        return false;
      }

      function enteredRoom() {
        roomHandler();
        return false;
      }

    </script>


  </head>

  <body>
    <br><br>
    <a href="../"><img src="/assets/buttons/banner.png" style="max-width: 800px;" href=""></img></a>
    <br><hr><br>
    <% if ( page === "home") { %>
      <div id="homeMenu">
        <a href="/br">
      <img class="menuButton" src="/assets/buttons/battle-royale.png"></img></a><br><br>
      <a href="javascript:onclick=offline = true; startGame();">
      <img class="menuButton" src="/assets/buttons/play-solo.png"></img></a><br><br>
      <img class="menuButton" src="/assets/buttons/exit.png"></img><br><br>
    </div>
      <% } %>
    <% if ( page === "br") { %>
<div id="brr">
  <div id="homeform">
    <form onsubmit="return enteredRoom()">
        <input id="pseudo" class="pseudo" type="text" placeholder="Pseudo" pattern=".{1,10}" required title="10 lettres max." name="Pseudo">
        <input id="roomChoice" class="pseudo" type="text" placeholder="Room" pattern=".{1,4}" required title="1-4 characters" name="Room">

        <button class="button" type="submit">Join</button><br><br>
    </form>
  </div>
  <div id='room' style="display: none;">
    <form onsubmit="return imReady()">
      <button class="button" type="submit">Begin the game</button>
    </form>
  </div>
</div>
      <% } %>

      <div id="death" style="display: none;">
        <h1><strong>You lost.</strong></h1>
        <h3 id="scoreS"></h3>
        <br>
        <a href="../"><img class="menuButton" src="/assets/buttons/menuButton.png"></img></a>
      </div>


  </body>
</html>
