<!DOCTYPE html>
<html>
  <head>
    <title>Tretis</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="./nes.css/nes.min.css">
    <link rel="stylesheet" type="text/css" href="./style.css" />

    <script src="/socket.io/socket.io.js"></script>

    <!-- p5 Librairies -->
    <script src="./p5.min.js"></script>
    <script src="./p5.dom.js"></script>

    <!-- Game files -->
    <script src="./game/globalVar.js"></script>
    <script src="./game/arrayManager.js"></script>
    <script src="./game/graphic.js"></script>

    <script src="./game/piecesPattern.js"></script>
    <script src="./game/pieces.js"></script>
    <script src="./game/preview.js"></script>
    <script src="./game/sketch.js"></script>
    <script src="./game/handleServer.js"></script>

    <script>

      function imReady() {
        if(!gameStarted && !spectate) socket.emit('imReady');
      }

      function enteredRoom() {
        roomHandler();
        return false;
      }

      function joinBattleRoyale() {
        changeMode("br");
        joinBr();
        return false;
      }

      function leaveRoom() {
        socket.emit('leaveRoom');
        window.location.reload(true);
      }

    </script>

  </head>

  <body>
    <div id="message" style="display: none">
      <span class="close">&times;</span>
      <p id="messageText"></p>
    </div>

    <div id="wholePage">
      <br><br>

      <a href="../"><img src="/assets/banner.png" style="max-width: 800px;" href=""></img></a>
      <br><br><br>
      <% if ( page === "home") { %>
        <div id="homeMenu">
          <a href="/br">
          <img class="menuButton" src="/assets/buttons/battle-royale.png"></img></a><br><br>
          <a href="/pr">
          <img class="menuButton" src="/assets/buttons/private-session.png"></img></a><br><br>
          <a href="javascript:onclick=offline = true; startGame();">
          <img class="menuButton" src="/assets/buttons/play-solo.png"></img></a><br><br>
        </div>
      <% } %>
      <% if ( page === "pr") { %>
  <div id="brr" onload="changeMode('basic');">
    <div id="homeform">

      <div class="dropdown">
        <button onclick="toggleButton()" class="nes-btn is-primary dropbtn">Change Mode</button>
        <div id="myDropdown" class="dropdown-content">
          <a onclick="changeMode('basic')">Basic</a>
          <a onclick="changeMode('chill')">Netflix 'nd chill</a>
          <a onclick="changeMode('boom')">Boom !</a>
        </div>
      </div>

      <br><br>

      <p id="modeP"><p>

        <form onsubmit="return enteredRoom()">
          <div class="nes-field">
            <input id="pseudo" type="text" id="name_field" class="pseudo" placeholder="Pseudo" pattern=".{1,10}" required="" title="10 lettres max." name="Pseudo">
          </div>
            <br>
            <input id="roomChoice" class="pseudo" type="text" placeholder="Room" pattern=".{1,4}" required title="1-4 characters" name="Room">
            <br><br>
            <button class="nes-btn" type="submit">Join / Create</button><br><br>
        </form>


      </div>
        <div id='room' style="display: none;">
          <button class="nes-btn is-error" onclick="leaveRoom()">Leave room</button>
          <button class="nes-btn is-success" onclick="imReady()">Set ready</button>
          <br><br>
        </div>
      </div>
      <script type="text/javascript">
        changeMode('basic');
      </script>
        <% } %>
        <% if ( page === "br") { %>
    <div id="brr">
      <div id="homeform">
        <form onsubmit="return joinBattleRoyale()">
            <input id="pseudo" class="pseudo" type="text" placeholder="Pseudo" pattern=".{1,10}" required title="10 lettres max." name="Pseudo">
            <br>
            <button class="nes-btn" type="submit">Join</button><br><br>
        </form>
      </div>

        <div id='room' style="display: block;">
          <br><br>
        </div>
          <% } %>

        <div id="death" style="display: none;">
          <h1><strong id="lostThing">You lost.</strong></h1>
          <h3 id="scoreS"></h3>
          <br>
          <a href="../"><img class="menuButton" src="/assets/buttons/menuButton.png"></img></a>
        </div>

    </div>


<script type="text/javascript">

  let span = document.getElementsByClassName("close")[0];
  let modal = document.getElementById("message");
  modal.style.display = "none";
  span.onclick = function() {
    modal.style.display = "none";
  }

  /* When the user clicks on the button,
  toggle between hiding and showing the dropdown content */
  function toggleButton() {
    document.getElementById("myDropdown").classList.toggle("show");
  }

  // Close the dropdown if the user clicks outside of it
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

  </body>
</html>
