@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/* Main styles */

html, body {margin: 0; height: 100%}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
  background-color:#1a1a1a;
  color:#f9f9f9;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

canvas {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:-1;
}

hr {
	width: 80%;
	align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Leaderboard */
#div2 {
	position: fixed;
	left: 20px; top: 20px;
}

/* Active rooms */
#div3 {
	position: fixed;
	right: 30px; bottom: 40%;
}

.menuButton {
	border: 2px solid white;
	border-radius: 5px;
	max-width: 500px;
	transition: all .1s ease-in-out;
}

.menuButton:hover {
	transform: scale(1.1);
}

/* Button style */
.button {
  background-color: #990099; /* Purple */
  border: none;
  border-radius: 15px;
  color: white;
  padding: 15px 0px;
  width: 20%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
	zoom: 1.5
}

.button:hover {
	background-color: #800080;
}

/* Pseudo input bar */
.pseudo {
	width: 40%;
	padding: 12px 20px;
  margin: 8px 0;
	display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
	zoom: 1.5;
}


/* Dropdown menu for mode selection */
.dropbtn {
	background-color: #990099;
	border-radius: 15px;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
	zoom: 1.5;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #800080;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.close {
  color: #737373;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.my-notify-info, .my-notify-success, .my-notify-warning, .my-notify-error {
    padding:10px;
		position: fixed;
    bottom: 30px;
		right: 15px;
		width: 40%;
		border-radius: 5px;

		-webkit-animation-name: animatebot;
		-webkit-animation-duration: 0.15s;
		animation-name: animatebot;
		animation-duration: 0.15s;
}

.my-notify-info:before, .my-notify-success:before, .my-notify-warning:before, .my-notify-error:before {
    font-family:FontAwesome;
    font-style:normal;
    font-weight:400;
    speak:none;
    display:inline-block;
    text-decoration:inherit;
    width:1em;
    margin-right:.2em;
    text-align:center;
    font-variant:normal;
    text-transform:none;
    line-height:1em;
    margin-left:.2em;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.my-notify-info:before {
    content:"\f05a";
}
.my-notify-success:before {
    content:'\f00c';
}
.my-notify-warning:before {
    content:'\f071';
}
.my-notify-error:before {
    content:'\f057';
}
.my-notify-info {
    color: #00529B;
    background-color: #BDE5F8;
}
.my-notify-success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.my-notify-warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.my-notify-error {
    color: #D8000C;
    background-color: #FFD2D2;
}

/* Add Animation */
@-webkit-keyframes animatebot {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:1}
}

@keyframes animatebot {
  from {bottom:-300px; opacity:0}
  to {bottom:0; opacity:1}
}
