/* Main styles */

html, body {margin: 0; height: 100%}

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	margin: 0;
  background-color:#1a1a1a;
  color:#f9f9f9;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	width: 80%;
	align: center;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* Leaderboard */
#div2 {
	margin-left: 30%;
}

/* Active rooms */
#div3 {
	margin-left: 45%;
}

.menuButton {
	border: 2px solid white;
	border-radius: 5px;
	max-width: 500px;
	transition: all .1s ease-in-out;
}

.menuButton:hover {
	transform: scale(1.1);
}

/* Button style */
.button {
  background-color: #990099; /* Purple */
  border: none;
  border-radius: 300px;
  color: white;
  padding: 15px 0px;
  width: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
}

/* Pseudo input bar */
.pseudo {
	width: 20%;
	padding: 12px 20px;
  margin: 8px 0;
	display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
